.spinner {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite; /* Required */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.country-card {
    background: white;
    padding: 20px;
    margin: 20px;
}

.border-grid {
    display: flex;
    justify-content: center;

}

.error{
    color: red;
    font-weight: bold;

}

.hidden {
    display: none;
}

